.navbar-brand a {
  color: #303442;
  font-size: 32px;
  font-weight: bold;
  text-decoration: none;
}

.navbar-brand a:hover{
    text-decoration: none;
    color:  #f47629;
}

.navbar-nav a {
  padding: 0 20px;
  color: #303442;
  font-size: 16px;
  font-weight:bold;
}

.navbar-nav a:hover{
    text-decoration: none;
    color:  #f47629;
}

.city-btn {
    background: #f47629 !important;
    padding: 10px 30px 10px !important;
    color: #fff !important;
    border-radius: 5px;
    cursor: pointer;
    line-height: 19px;
    margin-top: -8px;
    border:1px solid #f47629 !important;
}

.city-btn:hover{
    background:#fff;
    color: #303442 !important;
    border:1px solid #f47629;
}
