footer {
  background: #034170;
  padding: 80px 0 30px;
}

.footer-links {
  margin-left: 0;
  padding-left:0;
  list-style: none;
}

.footer-links a {
  color: #fff;
}

.footer-links a:hover {
  color: #fff;
}

.footer-social{
  padding-left:0;
  margin-top:5px;
}

.footer-social li{
  list-style: none;
  display: inline-block;
  margin-right:18px;
}

.footer-social li a svg{
  color:#fff;
  font-size:18px;
}
